@keyframes jump {
  0% {
    bottom: 23.5%;
  }
  50% {
    bottom: 70%;
  }
  100% {
    bottom: 23.5%;
  }
}

.main__char {
  position: absolute;
  bottom: 23.5%;
  left: 12%;
  height: 15%;
  width: auto;
}
