.main__game_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  min-height: 300px;
  background: #161616;
}

.bg_container {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 300px;
}

.main__tree_bg1 {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  height: 100%;
}

.main__tree_bg2 {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  height: 100%;
}
