.token {
  position: absolute;
  bottom: 45%;
  right: -200px;
  z-index: 1;
}

.token__container {
  position: absolute;
  width: fit-content;
  align-items: center;
  z-index: 1;
}

.token_img {
  display: block;
  margin: 0 auto;
  width: 2rem;
  padding: 0.1rem;
}

.token__text {
  font-family: 'Berkelium Bitmap', sans-serif;
  font-size: 0.7rem;
  text-align: center;
  overflow: hidden;
}

.virus {
  position: absolute;
  width: 8rem;
  height: 8rem;
  bottom: 25%;
  right: -2000px;
  z-index: 1;
}
