.high_score__container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 90vh;
  margin: 0 auto;
  z-index: 3;
}

.high_score__board {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 90%;
  height: 85%;
  background: #161616;
  border-radius: 1rem;
  overflow-y: auto;
  padding: 1rem;
}
@media only screen and (max-width: 992px) {
  .high_score__board {
    margin-top: 1.5rem;
    justify-content: safe center;
  }
}

.high_score__scores_container {
  display: flex;
  justify-content: safe center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 7rem;
}

.high_score__title {
  display: inline-block;
  color: yellow;
  font-size: clamp(1rem, 6vw, 3rem);
  font-family: 'Berkelium Bitmap', sans-serif;
  height: 3rem;
  min-height: 3rem;
}
@media only screen and (max-width: 992px) {
  .high_score__title {
    font-size: clamp(0.5rem, 4vw, 3rem);
    min-height: 2.5rem;
  }
}
@media only screen and (max-width: 568px) {
  .high_score__title {
    min-height: 1.8rem;
  }
}

.high_score__scores_container {
  min-height: 7rem;
}

.high_score__li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 70rem;
  min-height: 3rem;
}
@media only screen and (max-width: 992px) {
  .high_score__li {
    min-height: 2rem;
  }
}

.high_score__num {
  display: inline-block;
  color: white;
  font-size: clamp(1rem, 4vw, 2rem);
  font-family: 'Berkelium Bitmap', sans-serif;
  width: 15%;
}

.high_score__name {
  display: inline-block;
  color: white;
  font-size: clamp(1rem, 4vw, 2rem);
  font-family: 'Berkelium Bitmap', sans-serif;
  width: 55%;
}

@keyframes blink {
  0% {
    color: red;
  }
  50% {
    color: yellow;
  }
  100% {
    color: red;
  }
}

.flashing {
  animation: blink 2s infinite;
}

.high_score__input {
  display: inline-block;
  color: black;
  font-size: clamp(1rem, 4vw, 2rem);
  font-family: 'Berkelium Bitmap', sans-serif;
  width: 55%;
  background: none;
  border: none;
  outline: none;
}

.high_score__score {
  display: inline-block;
  color: white;
  font-size: clamp(1rem, 4vw, 2rem);
  font-family: 'Berkelium Bitmap', sans-serif;
  width: 30%;
  text-align: right;
}

.high_score__buttons_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  border: none;
  background: none;
  outline: none;
}

.high_score__arrow {
  display: none;
  width: auto;
  height: clamp(1.2rem, 2vw, 5rem);
  flex-shrink: 0;
}

.high_score__restart_game_button,
.high_score__submit_button {
  display: inline;
  width: clamp(15rem, 30vw, 20rem);
  height: auto;
  flex-shrink: 0;
  margin: 0.5rem;
}
