.instructions____tokens_conatiner {
}

.instructions____tokens_conatiner {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border: 1px solid red;
}

.instructions____token {
  position: relative;
  display: block;
  width: 3rem;
  height: 3rem;
  border: 3px solid green;
}
