.instructions__container {
  position: absolute;
  display: block;
  top: 0;
  min-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: safe center;
  align-items: center;
  flex-wrap: nowrap;
  overflow-y: auto;
  z-index: -1;
}

.instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  width: clamp(60rem, 90vw, 90rem);
  height: auto;
  flex-shrink: 0;
  background: #969696;
  border-radius: 1rem;
  padding: 4vw;
  margin: 1rem auto;
  z-index: -1;
}
@media only screen and (max-width: 992px) {
  .instructions {
    position: absolute;
    width: clamp(90%, 70vw, 90%);
    height: 80vh;
    flex-direction: row;
    overflow-y: auto;
  }
}
@media screen and (max-width: 992px) and (orientation: landscape) {
  .instructions {
    margin-top: 3rem;
    height: 75vh;
  }
}

.instruction__item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.instructions__text {
  color: white;
  font-family: 'Berkelium Bitmap', sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

.instructions__tokens_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.instructions__token {
  position: relative;
  display: block;
  width: 3rem;
  height: 3rem;
}

.instructions__virus {
  width: 4rem;
  height: 4rem;
}

.instructions__char {
  width: 4rem;
  height: 4rem;
}

.instructions__spacebar {
  height: 3rem;
  width: auto;
}
